<div class="container-fluid back" >
<div class="row" >
<div class="col-md-12">
<div xmlns="http://www.w3.org/1999/html">
  <div class="card card-container" #form>
    <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"/>
    <p id="profile-name" class="profile-name-card"></p>
    <form class="form-signin">
      <input type="text" name="organizationName" [(ngModel)]="preRegisterModel.organisationName" id="organization"
             class="form-control"
             placeholder="Organization" required>
      <input type="email" name="email" [(ngModel)]="preRegisterModel.email" id="inputEmail"
             class="form-control" placeholder="Email"
             required>
      <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" (click)="onPreRegister()">REGISTER
      </button>
    </form>
    <a routerLink="/login" class="register">
      Already registered ? SIGN IN
    </a>
    </div>
  <div class ="foot">

  </div>
  <div class="fullpage" hidden #verify>
  <p>A Verification mail has been sent to your mail id.Please check to activate account.</p>
  </div>
</div>
</div>
</div>
</div>

