
<div class="container">
  <div class="card card-container" #registerForm hidden>
    <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
    <p id="profile-name" class="profile-name-card"></p>
    <form class="form-signin"  >
      <input type = "text" #organizationName id ="organization"  class="form-control" placeholder="Organization" disabled required autofocus>
      <input type="email" #email id="inputEmail" class="form-control" placeholder="Email" disabled required readonly>
      <input type="password" #password id="inputPassword" class="form-control" placeholder="Password" required>
      <input type="password" #confirmPassword id="inputconfirmPassword" class="form-control" placeholder="Confirm Password" required>

      <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" (click)="onRegister()"  >SIGN UP</button>
    </form>
    <a routerLink="/login" class="register">
      Already have an account ? SIGN IN
    </a>
  </div>
</div>

