
<div class="container">
  <div class="card card-container">
    <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
    <p id="profile-name" class="profile-name-card"></p>
    <form class="form-signin">

      <input type="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <div id="remember" class="checkbox">
        <label>
          <input type="checkbox" value="remember-me"> Remember Me
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">SIGN IN</button>
    </form><!-- /form -->
    <a routerLink=" #" class="forgot-password">
      Forgot Password?
    </a>
    <div>

    </div>
    <div class="register-now">
    <a routerLink="/register" class="register">
      Not Registered yet ? SIGN UP
    </a>
    </div>
  </div><!-- /card-container -->
</div><!-- /container -->
